/* Navbar */
.navbar {
    /* border: 1px solid black; */
    padding: 0.5em 6.8em;
    position: fixed;
    width: 100%;
    z-index: 999999999;
  }
  .nav-link {
    margin-right: 10px;
    color: black !important;
  }
  .off-navbar {
    width: 50%;
  }
  .register {
    height: 38px;
    margin-top: 0px;
    font-weight: bold;
  }
  
  /* Main Section */
  .main {
    /* border: 1px solid black; */
    width: 100%;
    padding-top: 80px;
  }
  .main-sect {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
  .box-desc {
    /* border: 1px solid black; */
    width: 45vw;
    padding-top: 50px;
    margin-left: 109px;
  }
  .title-usaha {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
  }
  .desc-usaha {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: 35vw;
  }
  .button-sewa {
    align-self: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
  }
  .box-car {
    /* border: 1px solid black; */
    width: 45vw;
    position: relative;
    overflow: hidden;
  }
  .car-image {
    padding-right: 30px;
    position: relative;
    top: 15px;
    z-index: 999;
    width: 600px;
  }
  .background-blue {
    position: absolute;
    top: 142px;
    right: 0px;
    width: 44.2vw;
    height: 200px;
    background-color: #0d28a6;
    border-radius: 60px 0px 0px 0px;
  }
  /* AKHIR NAVBAR */


  /* FORM SEARCH */
.container #cari-mobil {
    border: 5px solid black;
    width: 80%;
  }
  
  .container #cm-search {
    /* border: 1px solid black; */
    width: 95%;
    box-shadow: 2px 3px 5px 0px #777777;
    z-index: 999999999;
    margin-top: -35px;
  }
  
  .form-search {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .form-select,
  .form-control {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }
  
  .card-car {
    width: 900px;
    height: auto;
  }
  
  .card-body {
    height: 400px;
  }
  
  .card-img-top {
    width: auto;
    margin-top: 10px;
    height: 150px;
    object-fit: cover;
  }
  
  input[type="date"]::before {
    content: attr(placeholder);
    position: absolute;
    color: black;
  }
  
  input[type="date"] {
    color: #ffffff;
  }
  
  input[type="date"]:focus,
  input[type="date"]:valid {
    color: #666666;
  }
  
  input[type="date"]:focus::before,
  input[type="date"]:valid::before {
    content: "";
  }
  
  .tombol-search {
    margin-top: 18px;
  }
  .tombol-search button {
    background-color: #5cb85f;
  }


  /* CARD CAR */
.card-car {
    display: flex;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
    width: auto;
    height: 500px;

}

.card-body {
    width: 300px;
    height: auto;
}

/* FOOTER */
.foot {
    display: flex;
    padding: 100px 107px 0px 107px;
  }
  .adress {
    width: 27%;
  }
  .fitur {
    margin-left: 60px;
  }
  .social-media {
    width: 27%;
    margin-left: 60px;
  }
  .social-media a {
    margin-right: 14px;
  }
  /* FOOTER */
  .fb {
    float: left;
    display: flex;  
    color: white;
    justify-content: center;
    align-items: center;
    background: #0d28a6;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 10px;
  }
  .fb:hover {
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .copyright {
    width: 20%;
    margin-left: 60px;
  }
  .text-copy{
    margin-left: 40px;
  }